* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "Museo Sans Rounded 100", sans-serif;
  font-size: 100%;
  color: $text-color;
  font-size: $text-size;
  font-weight: 100;
}

h1 {
  font-size: $title-size;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

.fa-star {
  float: left;
  cursor: pointer;
  &:hover {
    color: $star-color;
  }
}

fieldset {
  border: none;
}

a {
  text-decoration: none;
  color: $text-color;
}

select {
  cursor: pointer;
  color: $text-color;
  padding: 7px 20px 7px 7px;
  margin-right: 1px;
  width: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url("../img/button.png") no-repeat 90% 50%;
  background-size: 10px;
  outline: 0;
}

option {
  background-color: $background-color;
}

input {
  display: none;
}

label {
  cursor: pointer;
}

li {
  position: relative;
}

.container__radio-color__blue {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #29e3ea;
}

.container__radio-color__red {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #ed3333;
  margin-right: 10px;
}

.container__radio-color__white {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 10px;
}

.container__radio-color__navy {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #1f273f;
  margin-right: 10px;
}

span:hover {
  scale: 1.1;
  border: 2px solid $text-color;
}


