.container {
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-image: url(../img/bg.png), url(../img/bg-layer.png),
    url(../img/bg-layer2.png);
  opacity: 0.9;

  &__card {
    height: 391px;
    width: 686px;
    background-color: $background-color;
    padding: 24px;
    padding-left: 21px;
  }
  &__logo-wrapper {
    margin-bottom: 10px;
  }
  &__col-left {
    padding-top: 40px;
    padding-left: 15px;
    width: 60%;
    display: inline-block;
  }
  &__main-foto-wrapper {
    margin-bottom: 50px;
  }
  &__col-right {
    width: 35%;
    float: right;
  }
  &__list-rating-star {
    margin-left: 0;
    margin-bottom: 15px;
  }
  &__dropdown-size {
    position: relative;

    margin-bottom: 29px;
    display: inline-block;
    cursor: pointer;
  }
  &__list-rating-star {
    display: flex;
    width: 67px;
    justify-content: space-between;
    margin-left: 0;
  }

  &__size-button {
    cursor: pointer;
    background-color: $background-color;
  }
  &__btn {
    display: block;
    appearance: none;
    width: 180px;
    height: 40px;
    border: 1px solid $text-color;
    background-color: $background-color;
    color: $text-color;
    cursor: pointer;
    margin-bottom: 40px;
    &:hover {
      opacity: 0.6;
    }
  }
  &__list-color-choosing {
    display: flex;
    justify-content: space-between;
    width: 75px;
    transform: translateX(-360%);
  }
}

.container:hover {
  opacity: 1;
}
