.container {
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-image: url(../img/bg.png), url(../img/bg-layer.png),
    url(../img/bg-layer2.png);
  opacity: 0.9;

  &__card {
    height: 391px;
    width: 686px;
    background-color: $background-color;
    padding: 24px;
    padding-left: 21px;
  }
  &__logo-wrapper {
    margin-bottom: 10px;
  }
  &__col-left {
    padding-top: 40px;
    padding-left: 15px;
    width: 60%;
    display: inline-block;
  }
  &__main-foto-wrapper {
    margin-bottom: 50px;
  }
  &__col-right {
    width: 35%;
    float: right;
  }
  &__list-rating-star {
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.container:hover {
  opacity: 1;
}

i:hover {
  color: $star-color;
}
