@import url("https://db.onlinewebfonts.com/c/cf2e520b1f09b1054a329a50e225ac01?family=Museo+Sans+Rounded+100");

$text-color: #e1e1e1;
$background-color: #111a28;
$title-size: 24px;
$text-size: 14px;
$main-font: "Museo Sans Rounded 100", sans-serif;
