* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: $white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

::-webkit-input-placeholder {
  color: $placeholder-color;
  font-family: $josefin;
  letter-spacing: 2px;
  text-align: center;
}
::-moz-placeholder {
  color: $placeholder-color;
  font-family: $josefin;
  letter-spacing: 2px;
  text-align: center;
}
:-moz-placeholder {
  color: $placeholder-color;
  font-family: $josefin;
  letter-spacing: 2px;
  text-align: center;
}
:-ms-input-placeholder {
  color: $placeholder-color;
  font-family: $josefin;
  letter-spacing: 2px;
  text-align: center;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}

.fa-linkedin-in {
  color: $main-color;
}

@media screen and (max-width: 1100px) {
  .header__form {
    max-width: 300px;
  }
  .header__search-input {
    max-width: 200px;
  }
  .header__btn {
    max-width: 90px;
  }
  .header__btn-text {
    max-width: 50px;
    padding-left: 1px;
  }
  .header__icon-wrapper {
    display: none;
  }
  .header__logo-small {
    display: none;
  }
  .header__nav-item {
    margin-right: 0;
    font-size: $H10;
  }
  .header__nav {
    padding: 2px;
  }
}
