.footer {
  height: 30vh;
  background-color: $footer-bg;
  text-align: center;
  font-family: $josefin;

  &__info {
    width: 20%;
    text-align: center;
    padding-top: 7%;
    display: inline-block;
  }
  &__logo {
    font-weight: 700;
    letter-spacing: 5px;
    font-size: $H240;
    margin-bottom: 12px;
  }
  &__slogan {
    font-size: $H60;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }
  &__soc-icons {
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  &__soc-link:hover {
    opacity: 0.5;
  }
}
