.header {
  padding-left: 25%;
  padding-right: 25%;
  background-image: url("../img/hero-bg.png");
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  padding-top: 285px;
  color: $white;
  &__logo {
    margin-bottom: 94px;
    position: relative;
  }
  &__treangle-svg {
    position: absolute;
    left: 7%;
    top: -158%;
  }
  &__dot1-svg {
    position: absolute;
    left: 4%;
    top: 60%;
  }
  &__dot2-svg {
    position: absolute;
    left: 44%;
    top: 60%;
  }
  &__dot3-svg {
    position: absolute;
    top: 60%;
    left: 83%;
  }
}
