.header {
  background-image: url("../img/hero-bg.png");
  background-size: cover;
  max-height: 100vh;

  min-width: 100%;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  color: $white;
  font-family: "Lato", sans-serif;
  align-content: center;

  &__logo {
    margin-bottom: 7%;
    position: relative;
    display: inline-block;

    align-self: center;
  }
  &__treangle-svg {
    position: absolute;
    left: 6%;
    top: 15%;
  }
  &__dot1-svg {
    position: absolute;
    left: 3%;
    top: 86%;
  }
  &__dot2-svg {
    position: absolute;
    left: 42%;
    top: 86%;
  }
  &__dot3-svg {
    position: absolute;
    top: 86%;
    left: 84%;
  }
  &__br {
    display: block;
  }
  &__description {
    font-size: $header-size;
    font-weight: 400;
    width: 37%;
    margin: auto;
    letter-spacing: 3px;
    line-height: 29px;
    margin-bottom: 13%;
    flex-grow: 1;
  }
  &__scrolling {
    margin-bottom: 2%;
    &:hover {
      opacity: 0.5;
    }
  }
}
