.header {
  padding-left: 25%;
  padding-right: 25%;
  background-image: url("../img/hero-bg.png");
  background-size: cover;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  padding-top: 12%;
  color: $white;
  font-family: "Lato", sans-serif;
  &__logo {
    margin-bottom: 9%;
    position: relative;
    display: inline-block;
  }
  &__treangle-svg {
    position: absolute;
    left: 6%;
    top: 15%;
  }
  &__dot1-svg {
    position: absolute;
    left: 3%;
    top: 86%;
  }
  &__dot2-svg {
    position: absolute;
    left: 42%;
    top: 86%;
  }
  &__dot3-svg {
    position: absolute;
    top: 86%;
    left: 84%;
  }
  &__br {
    display: block;
  }
  &__description {
    font-size: $header-size;
    font-weight: 400;
    width: 70%;
    margin: auto;
    letter-spacing: 3px;
    line-height: 29px;
    margin-bottom: 25%;
  }
  &__scrolling {
    margin-bottom: 7%;
    &:hover {
      opacity: 0.5;
    }
  }
}
