@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

$black: #3c3c3c;
$white: #ffffff;

$title-size: 54px;
$subtitle-size: 34px;
$button-size: 30px;
$middle-size: 20px;
$description-size: 16px;
$header-size: 15px;
$small-size: 14px;
