.footer {
  height: 75vh;
  background-color: $footer-bgc;
  position: relative;
  color: $white;
  width: 100%;

  &__img {
    position: absolute;
    right: 18%;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
    padding-top: 5%;
  }
  &__social-column {
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    justify-content: flex-start;
    height: 60%;
  }
  &__about-column {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60%;
  }
  &__services-column {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60%;
  }
  &__other-column {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60%;
  }
  &__title {
    font-size: $footer-title;
    font-weight: 400;
    margin-bottom: 35px;
  }
  &__description {
    font-size: $footer-text;
    margin-bottom: 32px;
    width: 80%;
  }
  &__social-link {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__nav-link {
    margin-bottom: 20px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
