.order {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 10%;
  justify-content: space-around;
  height: 85vh;
  align-items: center;
  color: $pink;
  margin: auto;
  background-image: url("../img/wave.png");
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  &__content {
    width: 50%;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: $sub-title;
    margin-bottom: 55px;
  }
  &__text {
    font-size: $small-text-size;
    font-weight: 400;
    margin-bottom: 62px;
  }
  &__order-link {
    background-color: $pink;
    color: $white;
    width: 327px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $pink;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: $small-text-size;
  }
}
