.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: brown;
  background-image: linear-gradient(rgba(255, 127, 127, 0.6)),
    url("../img/quote-bgc.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  color: $white;
  z-index: 100;
  &__text {
    width: 50%;
    font-size: $big-text-size;
    text-align: center;
    margin-bottom: 50px;
  }
  &__userpic {
    margin-bottom: 42px;
  }
  &__author {
    font-weight: 700;
    font-size: $middle-title;
  }
}
