@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$pink: #ff7f7f;
$white: #ffffff;
$input-bgc: #f4f4f4;
$footer-bgc: #111111;

$header-size: 75px;
$sub-title: 58.33px;
$middle-title: 44.9px;
$stat-text: 41.67px;
$big-text-size: 33.33px;
$footer-title: 31.6px;
$text-size: 29.75px;
$small-title: 28px;
$small-text-size: 25px;
$footer-text: 23.7px;
$desc-text: 16.85px;

$main-font: "Montserrat", sans-serif;
