@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto&display=swap");

$yellow: #ffcc00;
$title-color: #666666;
$icon-color: #d6d6d6;
$text-color: #333333;

$title-size: 60px;
$subtitle-size: 36px;
$big-size: 24px;
$middle-size: 18px;
$small-size: 14px;

$main-font: "Raleway", sans-serif;
$title-font: "Roboto", sans-serif;
$button-font: "Open Sans", sans-serif;
