@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in;
}

html,
body {
  height: 100%;
  width: 100%;
}

section {
  background-color: #fdde7e;
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 76%;
  height: 91%;
  max-height: 90%;
  padding-top: 10%;
}

li {
  list-style: none;
  background-color: #fff;
  display: flex;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px #d3b969;
  margin: 11px;
  padding: 25px 30px 32px;
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  cursor: pointer;
  height: 90%;
  flex-grow: 1;
}

h1 {
  color: #02995b;
  margin-bottom: 70px;
  font-size: 62px;
  font-weight: bold;
}

.cup {
  margin-bottom: 20px;
  position: relative;
  justify-content: center;
  padding-left: 23px;
}

.smoke {
  position: absolute;
  top: -50%;
  left: 32%;
}

h2 {
  color: #333333;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: normal;
}

.text {
  text-align: center;
  color: #858585;
  margin-left: 23%;
  margin-right: 23%;
  font-size: 24px;
}

.bean {
  position: absolute;
  top: 17%;
  left: 40%;
}

li:hover {
  -webkit-transform: scaley(1.1);
  -ms-transform: scaley(1.1);
  transform: scaley(1.1);
}
