@import url("https: ; //fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in;
}

html,
body {
  height: 100%;
  width: 100%;
}

section {
  background-color: #fdde7e;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 90%;
  max-height: 80%;
  padding-top: 10%;
}

li {
  list-style: none;
  background-color: #fff;
  display: flex;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px #d3b969;
  margin: 11px;
  padding: 27px 10px;
  width: 33%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  cursor: pointer;
  height: 80%;
  flex-grow: 1;
}

h1 {
  color: #02995b;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
}

.cup {
  margin-bottom: 15px;
  position: relative;
  justify-content: center;
  padding-left: 23px;
}

.smoke {
  position: absolute;
  top: -50%;
  left: 36%;
}

h2 {
  color: #333333;
  margin-bottom: 20px;
  font-size: 30px;
}

.text {
  text-align: center;
  color: #858585;
  margin-left: 23%;
  margin-right: 23%;
}

.bean {
  position: absolute;
  top: 15%;
  left: 40%;
}

li:hover {
  -webkit-transform: scaley(1.1);
  -ms-transform: scaley(1.1);
  transform: scaley(1.1);
}
