* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.2s ease;
}

html,
body {
  font-family: $main-font;
  transition: 0.2s ease;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  padding: 6% 7%;
}
