.gallery {
  background-color: $yellow-bgc;
  color: $black;

  &__title {
    font-size: $title-size;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
  }
  &__text {
    font-size: $text-size;
    font-weight: 300;
    width: 600px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }
  &__item {
    width: 66%;
    &--small {
      width: 30%;
    }
    &--normal {
      width: 49%;
    }
  }

  &__img-wrapper {
    position: relative;
    &--long {
      margin-bottom: 10%;
    }
  }
  &__img {
    width: 100%;
    cursor: pointer;
  }
  &__link {
    background-color: $navy;
    color: $white-text;
    width: 200px;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px $black;
    margin: auto;
    &:hover {
      background-color: $orange;
    }
  }
}
