@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap");

$black: #262626;
$orange: #ff6033;
$white-text: #ffffff;
$green-bgc: #00b3b3;
$blue-bgc: #70bfff;
$yellow-bgc: #ffe92f;
$navy: #5585a2;
$green-btn: #96b92c;
$violet-bgc: #b07cf7;
$form: #00c4c4;
$footer-text: #b9b9b9;
$love: #f12b55;
$border-form: #355b82;

$title-size: 90px;
$subtitle-size: 60px;
$logo-size: 50px;
$big-size: 40px;
$date-size: 32px;
$logo-small-size: 25px;
$month-size: 21px;
$button-size: 20px;
$text-size: 17px;
$nav-size: 16px;
$placeholder: 15px;

$main-font: "Raleway", sans-serif;
$logo-font: "Pacifico", cursive;
